body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: #20c997;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}